<div>
  <mat-form-field>
  <mat-label>Role</mat-label>
  <mat-select name="workspace" [(ngModel)]="selectedRole" (ngModelChange)="selectRole($event)">
    <mat-option *ngFor="let role of roles" [value]="role" >
      {{role}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<ng-container *ngIf="selectedRole">
<mat-form-field *ngIf="selectedRole === 'admin'">
  <mat-label>Select Workspace</mat-label>
  <mat-select name="workspace" [(ngModel)]="selectedWorkspace">
    <mat-option *ngFor="let workspace of workspaces" [value]="workspace" >
      {{workspace.id}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="selectedWorkspace || selectedRole === 'user'">
  <div>
    <button class="profile" mat-raised-button color="primary" (click)="viewProfile()" >
      Profile {{i}}
    </button>
  </div>
  

    <br />

    <button mat-raised-button color="accent" (click)="viewAddress()">
      Address
    </button>
</div>
<mat-tab-group>
  <mat-tab *ngFor="let tab of selectedWorkspace?.tabs" >

    <ng-template mat-tab-label>
      {{tab.title}}
      
      <mat-icon *ngIf="!tab.default" class="close-tab-icon" (click)="closeTab(selectedWorkspace.id, tab)">close</mat-icon>      
    </ng-template>
    <h1>Tab Data</h1>
    <p>{{tab.tabData | json}}</p>

  <ng-container *ngIf="tab.title === 'Dashboard'">

    Dashboard Content

  </ng-container>
  </mat-tab>
</mat-tab-group>
</ng-container>